<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="/add-cupcake" method="POST">
            <div class="form-group">
              <label for="flavor">Cupcake Flavor</label>
              <input
                type="text"
                class="form-control"
                id="flavor"
                name="flavor"
              />
            </div>
            <div class="form-group">
              <label for="size">Size</label>
              <input type="text" class="form-control" id="size" name="size" />
            </div>
            <div class="form-group">
              <label for="rating">Rating</label>
              <input
                type="text"
                class="form-control"
                id="rating"
                name="rating"
              />
            </div>
            <div class="form-group">
              <label for="image">Image</label>
              <input type="text" class="form-control" id="Image" name="image" />
            </div>
            <button type="submit" class="btn btn-primary mt-1">Submit</button>
          </form>
          <div class="col-sm" id="cupcakes"></div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="static/app.js"></script>
  </body>
</html>
